@import 'variables.pcss';

.root {
  color: var(--color);
}

.container {
  margin: 20px;
}

.appName {
}

.intro {
}

.ma {
  background-image: url(../../style/img/170906-sun-flare.jpg);
  background-repeat: no-repeat;
  width: 560px;
}

.maItem {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  font-size: 12px;
  color: white;
}

.maImg {
  width: 560px;
  height: 560px;
}