:root {
  --color: #333;
  --interval: 16px;
  --scrubEffect: {
    position: relative;
    background-image: inherit;
    background-size: inherit;
    background-attachment: fixed;
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: inherit;
      filter: blur(var(--interval));
      overflow: hidden;
    }
  }
}